@import "../../../common/styles/variables";

.socialIcons {
  display: flex;
  align-items: center;

  .iconLink {
    margin-right: 15px;

    .cd, .tg, .git, .link {
      font-size: 20px;
      //color: #4d555a;
      color: var(#{--textDefault});
      transition: .2s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }

    .cd:hover {
      color: #bb432c;
    }

    .tg:hover {
      color: #0088cc;
    }

    .git:hover {
      color: var(#{--textDefault});
    }

    .link:hover {
      color: #0077b5;
    }
  }
}
