@font-face {
    font-family: 'Golos_Text';
    src: url('/src/assets/fonts/Golos_Text/GolosText-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('/src/assets/fonts/Poppins/Poppins-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}