$textColor: #212529;
$primaryColor: #f5df4e;
$bgColorPrimary: #ffffff;
$bgColorSecondary: #f8f9fa;

$backgroundPrimaryColorLight: #FFFFFF;
$backgroundPrimaryColorDark: #212529;
$backgroundSecondaryColorLight:  #f8f9fa;
$backgroundSecondaryColorDark: #1d2123;
$textColorLight: #212529;
$textColorDark: #FFFFFF;
$textColorSecondaryLight: rgba(0, 0, 0, 0.5);
$textColorSecondaryDark: #a49f9f;
$boxShadowLight: #E7E7E7;
$boxShadowDark: #8a8888;
$iconsLight: #4d555a;
$iconsDark: #ffffff;
$buttonsLight: #212529;
$buttonsDark: #f5df50;

:root {
  --bgPrimaryLight: #{$backgroundPrimaryColorLight};
  --bgPrimaryDark: #{$backgroundPrimaryColorDark};
  --bgPrimaryDefault: var(#{--bgPrimaryLight});

  --bgSecondaryLight: #{$backgroundSecondaryColorLight};
  --bgSecondaryDark: #{$backgroundSecondaryColorDark};
  --bgSecondaryDefault: var(#{--bgSecondaryLight});

  --textLight: #{$textColorLight};
  --textDark: #{$textColorDark};
  --textDefault: var(#{--textLight});

  --textSecondaryLight: #{$textColorSecondaryLight};
  --textSecondaryDark: #{$textColorSecondaryDark};
  --textSecondaryDefault: var(#{--textSecondaryLight});

  --boxShadowLight: #{$boxShadowLight};
  --boxShadowDark: #{$boxShadowDark};
  --boxShadowDefault: var(#{--boxShadowLight});

  --iconsLight: #{$iconsLight};
  --iconsDark: #{$iconsDark};
  --iconsDefault: var(#{--iconsLight});

  --buttonsLight: #{$buttonsLight};
  --buttonsDark: #{$buttonsDark};
  --buttonsDefault: var(#{--buttonsLight});
  }