.mainBlock {
    background-color: #ffd4f0;
    user-select: none;
    position: relative;
}

.mainBlock::after {
    content: '↓';
    bottom: 20px;
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    height: 32px;
    left: 50%;
    line-height: 32px;
    margin-left: -16px;
    position: absolute;
    text-align: center;
    width: 32px;
    z-index: 3;
    opacity: 0;
    animation: blink 3s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 80px;
}

.text {
    width: 350px;
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 9px;
    word-break: break-word;
}

.text h1 {
    text-transform: uppercase;
    margin: 5px 0;
}

.photo {
    width: 455px;
    height: 455px;
    background-color: #8a8a8a;
    background-image: url("https://cdn.mos.cms.futurecdn.net/5PMe5hr8tjSS9Nq5d6Cebe-970-80.jpg.webp");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 16px solid #F8F9FA;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

.typingEffect {
    background-color: #ffd4f0;
    padding: 1px 0;
}

@media screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .photo {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 576px) {
    .wrapper {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .photo {
        width: 300px;
        height: 300px;
    }
    .text {
        width: 300px;
    }
    .text h1 {
        font-size: 20px;
    }
}