.header {
    background-color: #99d0fb;
    position: fixed;
    width: 100%;
    color: #fff;
    text-align: center;
    z-index: 1;
    box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.2);
}

.wrapper {
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .wrapper {
        height: 60px;
    }
}

@media screen and (max-width: 576px) {
    .wrapper {
        height: 60px;
    }
}
