.footer {
    background-color: #ebffe4;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerNav {
    display: flex;
    justify-content: center;
    gap: 15px;
    /*border: 2px solid #E7E7E7;*/
    border-radius: 5px;
    width: 100%;
    /*padding: 15px 0;*/
    flex-grow: 1;
    /*box-shadow: 0 0 10px 1px #E7E7E7;*/
    /*background: #FFFFFF;*/
}

.navItem {
    height: 30px;
    width: 60px;
    background-color: #eeeef5;
    border: 5px solid #E7E7E7;
    border-radius: 9px;
}

.footer p {

}