.footer {
    background-color: #020202;
}

.wrapper {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.copyright a {
    color: #f5df4f;
    text-decoration: underline;
}

.copyright a:hover {
    text-decoration: none;
}

.status {
    display: block;
}


@media screen and (max-width: 575px) {
    .wrapper {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .status {
        display: none;
    }
}