@import './common/styles/variables';

.App {
  line-height: 1.2;
  letter-spacing: -0.02em;
  min-width: 360px;
}

::selection {
  background-color: #f5df50;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(#{--scrollbarMainDefault});
  border-radius: 5px;
  border: 2px solid var(#{--bgSecondaryDefault});
}

::-webkit-scrollbar-thumb:hover {
  border: none;
  background-color: var(#{--scrollbarMainDefault});
}

::-webkit-scrollbar-track {
  background-color: var(#{--bgPrimaryDefault});
}
