.nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 9px;
}

.link {
    color: #000000;
    text-decoration: none;
}

.active {
    color: red;
}