.nav {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.link {
    font-family: 'Poppins-SemiBold', 'Golos_Text', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    position: relative;
    transition: .5s;
}

.link::after {
    opacity: 0;
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    bottom: -6px;
    width: 90%;
    border-bottom: 3px solid #f5df4f;
    transition: 0.2s ease-in-out;
}

.link:hover::after {
    transform: translateX(-50%) scaleX(1);
    opacity: 1;
}

.active {
    font-family: 'Poppins-SemiBold', 'Golos_Text', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    position: relative;
}

.active::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;
    width: 90%;
    border-bottom: 3px solid #f5df4f;
    transition: 0.2s ease-in-out;
}