.socialIcons {
    display: flex;
    align-items: center;
}

.iconLink {
    margin-right: 15px;
}

.cd, .tg, .git, .link {
    font-size: 20px;
    color: #4d555a;
    transition: .2s ease-in-out;
}

.cd:hover {
    transform: scale(1.2);
    color: #bb432c;
}

.tg:hover {
    transform: scale(1.2);
    color: #0088cc;
}

.git:hover {
    transform: scale(1.2);
    color: #000000;
}

.link:hover {
    transform: scale(1.2);
    color: #0077b5;
}